.users_profile {
  display: flex;
  padding: 5px;
}
.subscriber {
  align-self: center;
  padding-right: 5px;
}
.subscriber button {
  display: block;
  background-color: #d9ccec;
  border: 2px solid #fff;
  border-radius: 5px;
  margin-top: 5px;
  width: 69px;
}
.subscriber img {
  width: 45px;
  height: 45px;
  display: block;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 0 5px 2px #fff;
}
.users_profile__info {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  border: 1px solid #000;
  border-radius: 10px;
}
.users_profile__name {
  margin-left: 10px;
}
.users_profile__location {
  margin-right: 10px;
  text-align: center;
}
.users_pages {
  display: flex;
  width: fit-content;
  margin: auto;
}
.users_pages button {
  background-color: unset;
  margin: 0 3px;
  border-radius: 30%;
  padding: 0;
  min-width: 22px;
  width: fit-content;
  height: 22px;
  border: 1px solid #808080;
}
.selectedPage {
  font-weight: 700;
}
.users_pages .controlButton{
  margin: 0;
}
