.form_control.error .input,
.form_control.error .textarea {
    outline: 1px solid red;
    color: red;
}
.form_control.error{
    position: relative;
}
.error span {
    position: absolute;
    color: red;
}