.load_image {
  width: 150px;
  height: 150px;
  margin: auto;
}

.auth_form {
  display: block;
  width: fit-content;
  padding: 40px;
}

.auth_field input{
  display: block;
}
.auth_field{
  display: flex;
}
.sumError{
  text-align: center;
  width: 140px;
  margin:auto ;
  padding: 2px;
  color: red;
}